# Logs
logs
*.log

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
deploy/data

# Dependencies
node_modules/
vendor/

# Build outputs
dist/
build/
web/dist/

# Environment
.env*
!.env.example

# OS
Thumbs.db
*.tmp
